<!DOCTYPE html>
<html>
<%- include("../parts/head.ejs", {title: "Главная страница", style_href: "/css/index.css"}) %>
<body>
    <div class="page">
        <%- include("../parts/header.ejs") %>
        <main class="content">
            <a class='class_blok_button' href="/"></a>
            <div class="content__block">
                <ul class="content__block__list">
                    <% works.forEach(el => {%>
                        <li class="content__author__works__list__item work-preview">            
                            <div class="work-preview__content">
                                <a href="/works/<%=el.id%>">
                                    <img class="work-preview__content__preview-img" src="<%if (el.preview_img) {%><%='/img/uploads/previews/' + el.id + '.jpg'%><%} else {%>/img/preview-img-not-available.jpg<%}%>">                               
                                    <header class="work-preview__header">
                                        <h4 class="work-preview__header__title"><%=el.title%></h4>                                   
                                    </header>
                                </a>
                            </div>                        
                        </li> 
                    <%}) %>
                </ul>
            </div>
        </main>      
        <%- include("../parts/footer.ejs") %>
    </div>
</body>
</html>
