<!DOCTYPE html>
<html>
<%- include("../parts/head.ejs", {title: "Главная страница", style_href: "/css/index.css"}) %>
<body>
    <div class="page">
        <%- include("../parts/header.ejs") %>
        <main class="content">
            <a class='class_blok_button' href="/"></a>
<!--            <div class="content__block__reklama">-->
<!--                <a href="w">-->
<!--                <div class="content__block__reklama__form">-->
<!--                    <img class='reklama__foto' src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ae/Koe_in_weiland_bij_Gorssel.JPG/1200px-Koe_in_weiland_bij_Gorssel.JPG" alt="">-->
<!--                    <h4>Корова - обыкновенная</h2>-->
<!--                    <h5>Корова — млекопитающее животное из инфракласса плацентарных, отряда парнокопытных. Одомашненным подвидом дикого быка является домашний бык, самкой которого является корова.</h3>-->
<!--                </div>-->
<!--                </a>-->
<!--            </div>-->


<!--            <div class="content__block__reklama">-->
<!--                <a href="w">-->
<!--                <div class="content__block__reklama__form2">-->
<!--                    <img class='reklama__foto' src="https://zaf.su/content/images/thumbs/000/0002020_klassieskij-iskusstvennyj-boloj-palec-dl-fokusov.jpeg" alt="">-->
<!--                    <h4>Палец - фальшиивый</h2>-->
<!--                    <h5>Палец — Подвижная конечная часть кисти руки, стопы ноги или лапы животного.</h3>-->
<!--                </div>-->
<!--                </a>-->
<!--            </div>-->


<!--            <div class="content__block__reklama">-->
<!--                <a href="w">-->
<!--                <div class="content__block__reklama__form3">-->
<!--                    <img class='reklama__foto' src="https://18.img.avito.st/640x480/5200844318.jpg" alt="">-->
<!--                    <h4>Авито</h2>-->
<!--                    <h5>Авито — интернет-сервис для размещения объявлений о товарах, вакансиях и резюме на рынке труда, а также услугах от частных лиц и компаний. </h3>-->
<!--                </div>-->
<!--                </a>-->
<!--            </div>-->


<!--            <div class="content__block__reklama">-->
<!--                <a href="w">-->
<!--                <div class="content__block__reklama__form4">-->
<!--                    <img class='reklama__foto' src="https://2sticker.ru/wa-data/public/shop/products/62/13/1362/images/3678/3678.750.jpg" alt="">-->
<!--                    <h4>Metallica</h2>-->
<!--                    <h5>Metallica — американская метал-группа, образованная в 1981 году. Metallica оказала большое влияние на развитие метала и входит в «большую четвёрку трэш-метала».</h3>-->
<!--                </div>-->
<!--                </a>-->
<!--            </div>-->
            <div class="content__block">
                <ul class="content__block__list">
                    <% works.forEach(el => {%>
                        <li class="content__author__works__list__item work-preview">            
                            <div class="work-preview__content">
                                <a href="/works/<%=el.id%>">
                                    <img class="work-preview__content__preview-img" src="<%if (el.preview_img) {%><%='/img/uploads/previews/' + el.id + '.jpg'%><%} else {%>/img/preview-img-not-available.jpg<%}%>">                               
                                    <header class="work-preview__header">
                                        <h4 class="work-preview__header__title"><%=el.title%></h4>                                   
                                    </header>
                                </a>
                            </div>                        
                        </li> 
                    <%}) %>
                </ul>
            </div>
        </main>      
        <%- include("../parts/footer.ejs") %>
    </div>
</body>
</html>
