<!DOCTYPE html>
<html>
    <%- include("../parts/head.ejs", {title: "Работа пользователя", style_href: "/css/work_page.css"}) %>
<body>
    <div class="page">
        <%- include("../parts/header.ejs") %>
        <main class="content">
            <div class="content__work">
                <div class="content__work__form">
                    <img class="content__work__preview-img" src="<%if (work.preview_img) {%><%='/img/uploads/previews/' + work.id + '.jpg'%><%} else {%>/img/preview-img-not-available.jpg<%}%>">
                    <h3 class="content__work__title"><%=work.title %></h3>
                    <p class="content__work__description"><%=work.description%></p>
                    <div class="content__work__links-wrapper">
                        <ul class="content__work__links">
                            <a class="work-form__form__link work_link" href="<%=work.download_link%>">Download</a>
                            <% work.links.forEach(el => {%>
                                <li class="content__work__links__item">
                                    <a class="content__work__links__item__href" href="<%=el.url%>">el.title</a>
                                </li>
                            <%})%>
                        </ul>
                    </div>
                    <ul class="content__work__images">
                        <% work.images.forEach(el => {%>
                            <li class="content__work__images__item">
                                <img class="content__work__images__item__image" src="/img/uploads/images/<%=el.id%>.jpg">
                            </li>
                        <%});%>
                    </ul>
                    <ul class="content__work__buttons">
                        <li class="content__work__buttons__item">
                            <button class="content__work__buttons__item__button save_work button">
                                Сохранить себе
                            </button>
                        </li>
                        <li class="content__work__buttons__item">
                            <button class="content__work__buttons__item__button report_work button">
                                Пожаловаться
                            </button>
                        </li>
                    </ul>
                    <time class="content__work__creation-date" datetime="<%=work.created_at%>"><%=work.hr_created_at%></time>
                </div>
            </div>
        </main>
        <%- include("../parts/footer.ejs") %>
    </div>
</body>
</html>