<div class="work-form">
  <h3 class="work-form__title">
    <%if (create_new) {%>
      Создание работы...
    <%} else {%>
      Редактирование...
    <%}%>
  </h3>
	<form class="work-form__form">
      <div class="work-form__form__preview-image">
        <!-- <div class="swiper-slide"><img class="work-form__form__preview-image__image" src="/img/site-bonpass-temp.jpg" alt="Фото работы"></div> -->
      </div>
      <input type="file" name="preview" class="work-form__form__preview" placeholder="Добавьте превью">
      <input name="images" multiple type="file" accept="image/jpeg" class="work-form__form__images__button add_image">Добавить картинки?</button>
      <input type="checkbox" name="delete_preview" class="work-form__form__delete-preview"> Удалить превью?
      <input type="text" name="title" required class="work-form__form__title" placeholder="Название работы" value="<%=work.title %>">
      <textarea name="description" class="work-form__form__description" placeholder="Описание"><%=work.description %></textarea>
      <input type="text" name="download_link" class="work-form__form__link" value="<%=work.download_link %>" placeholder="Ссылка на скачивание">
      <div class="work-form__form__wrapper">
        <div class="work-form__form__links work_links">
          <button type="button" class="button work-form__form__links__button add_link">+</button>
          <%work.links.forEach((el, i) => {%>
          <div class="work-form__form__links__link work_link">
            <input type="text" name="link_title<%=i%>" value="<%=el.title%>" class="work-form__form__links__link__title">
            <input type="url" name="link_url<%=i%>" value="<%=el.link%>" class="work-form__form__links__link__link"> 
            <button type="button" data="<%=i%>" class="work-form__form__links__link work_link_delete">Удалить</button>
          </div>
          <%})%>
        </div>
        <div class="work-form__form__images work_images">
          <!-- <input name="images" multiple type="file" accept="image/jpeg" class="work-form__form__images__button add_image">Добавить картинки?</button> -->
          <%work.images.forEach((el, i) => {%>
          <div class="work-form__form__images__image">
            <img class="work-form__form__images__image__image image<%=i%>" src="/img/uploads/works_images/<%=el.id%>.jpg">
            <button type="button" class="work-form__form__images__image__button delete_image<%=i%>" data="<%=el.id%>">Удалить</button> 
          </div>
          <%})%>
        </div>
      </div>
      <input type="submit" name="submit" class="save_form" value="<%=create_new ? 'Создать' : 'Изменить'%>">
      <p class="work-form__form__message-box message_box"></p>
    </form>
</div>
<script src="/js/work_script.js"></script>
